@import "../../../styles/settings.scss";

.component {
  margin: 0 auto $base-unit * 8.5;
  padding: $base-unit * 7;
  width: 80%;
  background: $color-light;
  border-radius: $base-unit * 0.5;
  @extend%primary-shadow;
  display: flex;
  flex-direction: column;

  .rootList {
    padding: 0;
    list-style-type: none;
    width: 100%;
  }
}
