@import "./mixins.scss";

$color-light: #fff;
$color-border: #c9cdd7;
$color-text: #4b597b;
$color-primary: #a576f4;
$color-secondary: #7176f7;
$color-success-light: #8df4a1;
$color-success-dark: #28e7e7;
$color-danger-light: #f97298;
$color-danger-dark: #f34f69;

$font-logo: "Montserrat", sans-serif;
$font-header: "Roboto", sans-serif;
$font-text: "Source Sans Pro", sans-serif;

$base-unit: 1rem * 1.25;

$radius: $base-unit * 0.25;
$transition: all 0.5s;

$fw-regular: 400;
$fw-bold: 700;

$br-mobile: 360px;
$br-tablet: 780px;
$br-desktop: 992px;
$br-xl-desktop: 1366px;

//fonts

%condition-font {
  color: $color-border;
  font-size: $base-unit * 1.5;
}

//borders

%item-border {
  border-radius: $base-unit * 0.4;
  border: $base-unit * 0.15 solid $color-border;
}

//shapes

%shape {
  width: 70vw;
  height: 45vw;
  z-index: -1;
  opacity: 0.15;
}

//gradients

%primary-gradient {
  background: linear-gradient(to bottom, $color-primary, $color-secondary);
}

%success-gradient {
  background: linear-gradient(to bottom, $color-success-light, $color-success-dark);
}

%danger-gradient {
  background: linear-gradient(to bottom, $color-danger-light, $color-danger-dark);
}

%border-gradient {
  @include p-el("before") {
    left: 0;
    top: 0;
    display: inline-block;
    width: $base-unit;
    height: 100%;
    border-radius: $base-unit * 0.5 0 0 $base-unit * 0.5;
    @extend%primary-gradient;
  }
}

//shadows

%primary-shadow {
  box-shadow: 0 $base-unit * 0.2 $base-unit * 0.4 0 rgba(165, 118, 244, 0.1),
    0 $base-unit * 0.3 $base-unit 0 rgba(165, 118, 244, 0.1);
}

%success-shadow {
  box-shadow: -$base-unit * 0.1 $base-unit * 1.8 $base-unit * 1.8 -$base-unit * 0.25 rgba(40, 231, 231, 0.3);
}

%danger-shadow {
  box-shadow: -$base-unit * 0.1 $base-unit * 0.75 $base-unit * 0.75 -$base-unit * 0.25 rgba(243, 79, 105, 0.2);
}

//lines

%medium-line {
  @include p-el("before") {
    bottom: 0;
    left: $base-unit * 4.92;
    height: $base-unit * 21;
    width: $base-unit * 0.15;
    display: inline-block;
    background: $color-border;

    @include max-media($br-tablet){
      height: calc(100% + #{$base-unit * 8});
    }
  }

  @include p-el("after") {
    @include min-media($br-tablet) {
      top: 50%;
      left: $base-unit * 4.92;
      width: $base-unit * 21;
      height: $base-unit * 0.15;
      display: inline-block;
      background: $color-border;
    }
  }
}

%small-line {
  @extend%medium-line;
  @include p-el("before") {
    left: $base-unit * 3.43;
    height: $base-unit * 8;
  }

  @include p-el("after") {
    left: $base-unit * 3.5;
    width: $base-unit * 7;
  }
}

%large-line {
  @extend%medium-line;
  @include p-el("before") {
    height: calc(100% + #{$base-unit * 8});
  }
}

//fadeIn animation

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
