@import "../../../styles/settings.scss";

.component {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  cursor: pointer;
  background: none;
  border: none;
  @extend%condition-font;

  &.small {
    @extend%small-line;
  }

  &.medium {
    @extend%medium-line;
  }

  &.large {
    @extend%large-line;
  }
}
